body{
	margin-top: 0;
	background-size: cover;
   background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('../img/DSCF4427.jpg');
	transition-timing-function: ease-in;
	transition-duration: 0.3s;
}

.menu-toggle {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 29px;
  left: 29px;
  cursor: pointer;
   &.on {
      .one {
         transform: rotate(45deg)translate(5px, 5px);
      }
      .two {
         opacity: 0;
      }
      .three {
         transform: rotate(-45deg)translate(6px, -6px);
      }
   }
}

.one,.two,.three{
   width: 100%;
   height: 2px;
   background: white;
   margin: 6px auto;
   backface-visibility: hidden;
   transition: all .3s;
}

nav ul{
   margin-left: 51px;
   padding: 15px;
   font-family: 'Lato', sans-serif;
   list-style: none;
   text-align: left;
   margin-top: 16px;
   &.hidden {
      display: none;
  }
   a {
      transition: all .5s;
      text-decoration: none;
      color: white;
      font-size: 1.5em;
      width: 100%;
      padding: 6px;
      &:hover {
         color: rgba(0,0,0,.35)
      }
   }
}

.menu-section {
   &.on {
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
   }
}

.logo{
	position: absolute;
	left: 68px ;
   top: 20px;
   height: 43px;
   &.off {
      opacity: 0;
      z-index: -1;
   }
}

.menu{
	font-size: 82px;
	padding-top: 195px;
	padding-left: 120px;
   div a{
      font-family: 'Limelight';
   }
}

.roll{
   text-decoration: none;
   color: white;
   cursor: pointer;
	&:hover{
		color: #66FFFF;
	}
}

@media only screen and (max-width: 768px) {
   body{
   width: 100vw;
   background-position: center;
   }
   .menu{
      font-size: 50px;
      padding-top: 377px;
      padding-left: 97px;
      z-index: -1;
      position: absolute;
   }
   .menu-toggle {
   top: 21px;
   left: 23px;
   z-index: 1;
   }
   .logo{
   left: 65px ;
   top: 12px;
   display: block;
   }
   nav ul{
      margin-top: 0px;
      margin-left: 35px;
      padding-top: 22px;
   }
}

@media only screen and (max-width: 414px) {
   body{
   width: 100vw;
   background-position: center;
   }
   .menu{
      font-size: 53px;
      padding-top: 249px;
      padding-left: 34px;
      z-index: -1;
      position: absolute;
   }
   .menu-toggle {
   top: 10px;
   left: 10px;
   z-index: 1;
   }
   .logo{
   left: 46px ;
   top: 2px;
   display: block;
   }
   nav ul{
   margin-left: -17px;
   margin-top: 0px;
   background-color: rgba(17,17,17,.92);
   height: 100vh;
   width: 100vw;
   padding-top: 300px;
   a {
      text-align: center;
      font-size: 2em;
      float: right;
      padding: 0px;
      margin-left: -10px;
      margin: 3px;
      }
   }
   .logo{
   &.off {
      z-index: 1;
      opacity: 1;
      }
   }
}